@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #CCCCFF;
  letter-spacing: 0.25ch;
}
input[type="text"]{
  letter-spacing: 0.20ch;
  text-decoration: none;
  appearance: none;
  outline: 0;
  line-height: 3rem;
  color: black;
}
.faint{
  color: #60607C;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); scale: 0.8}
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); scale: 1; }
}